<h1><%= @job.job_title %></h1>

<p><%= @job.job_des %></p>


<%=form_with model: @applied_for, url: jseeker_job_applied_for_index_path(@jseeker,@job) do |form| %>
 
 <div class="mb-3">
    <%=  form.submit "Apply", class: "btn btn-primary" %>
</div>
<%end%>