
<h1>About us</h1>

<p>Unemployment is one of the serious social issues faced by both developing and developed
countries. In this Project, we have made an attempt to address this serious issue by
creating a job portal. There is tough competition for survival now and everyone wants
the best for them. Now for job not only qualification but many others things like various
skills and traits are also considered. Many find it difficult to find a job even though they
have good skills and qualification but they are not able to find suitable profiles or we
can say organizations which can hire them due to tough competition and many other
reasons like choice of location of job, preferred salary,etc. So to solve these problem and
to reduce unemployment, we have created this Job Portal.
Job portal is an online web-portal which provides an efficient way to connect job
seekers and companies to choose the possible best options for them. It helps recruiters
to find relevant talent for their company. It not only helps unemployed people find
suitable jobs for them but also helps recruiters to find well suited employers for their
companies or organization as per their needs.
</p>
<h5>Please contact us for futher details</h5>
<ul>
<li>Rahul Soni</li>
<li>Devender yadav</li>
<li>Avinash Kumar</li>
<li>Bishal Sonar</li>
</ul>